:root {
    --dark-mode-color: rgb(24, 25, 26);
    --dark-mode-color-2: rgb(28 30 33);
    --light-mode-color: #f8f8f8;
    --newsfeed-pattern-color:rgb(36, 37, 38);
    --white-color: #fff;
    --secondary-text-color:rgb(176, 179, 184);
    --primary-text-color: rgb(228, 230, 235);
    --font-family-1:Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    --post-margin:14%;
    --dark-mode-hover: rgb(50 51 52);
    --nav-and-social-tabs-width: 24%;
    --newsfeed-tabs-width: 52%;

}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 2rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
}

.active, .visible {
    display: block;
}

.inactive,.hidden {
    display: none !important;
}

.scrollbar-tab::-webkit-scrollbar {
    width: 1.6rem;
    visibility: hidden;
    
}

.scrollbar-tab:hover::-webkit-scrollbar,.scrollbar-tab:hover::-webkit-scrollbar-thumb {
    visibility: visible;    
}
.scrollbar-tab::-webkit-scrollbar-track:hover {
    display: block;
    background-color: rgba(164, 164, 164, 0.1);
}

.scrollbar-tab::-webkit-scrollbar-thumb {
    visibility: hidden;
    display: block;
    background-color: grey;
    height: 90%;
    background-clip: content-box;
    border: 4px solid transparent;
    border-radius: 10px;
}
.scrollbar-tab::-webkit-scrollbar-thumb:hover {
    background-color: #979797;
}

.scrollbar-tab::-webkit-scrollbar-corner,
.scrollbar-tab::-webkit-resizer,
.scrollbar-tab::-webkit-scrollbar-button,
.scrollbar-tab::-webkit-scrollbar-track,
.scrollbar-tab::-webkit-scrollbar-button:single-button {
    display:none;
}

/* Newsfeed scrollbar */
::-webkit-scrollbar {
    display: block;
    width: 1.6rem;
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
    background-color: rgb(62 64 66);    
    display: block;
    background-size: 10px;
    background-repeat: no-repeat;
}

::-webkit-scrollbar-button:single-button:hover {
    background-color: #d0cbcb;
}
/* Left */
::-webkit-scrollbar-button:single-button:horizontal:decrement {
    height: 12px;
    width: 15px;
    background-position: 4px 5px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,50 50,100 50,0'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,50 50,100 50,0'/></svg>");
}

/* Right */
::-webkit-scrollbar-button:single-button:horizontal:increment {
    height: 12px;
    width: 15px;
    background-position: 5px 5px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 0,100 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:increment:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 0,100 50,50'/></svg>");
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: 14px;
    width: 16px;
    background-position: center 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='50,00 0,50 100,50'/></svg>");
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
    height: 14px;
    width: 16px;
    background-position: center 5px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 100,0 50,50'/></svg>");
}
/*                */
::-webkit-scrollbar-track {
    background-color: rgb(88, 89, 89)
    
}

::-webkit-scrollbar-thumb {
    display: block;
    background-color: grey;
    height: 90%;
    background-clip: content-box;
    border: 4px solid transparent;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0.2) 75%,
        transparent 75%,
        transparent)
}
::-webkit-scrollbar-thumb:hover {
    background-color: #979797;
}



/* Navigation items */
.tabs {
    display: block;
    background-color: var(--dark-mode-color);
    height: 100vh;
    padding-top: 6.6rem;
    overflow-y:scroll;
    overflow-x:hidden;

}

.heading {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0 8px 8px;
}
.title {
    font-weight: 500;
    color: var(--secondary-text-color);
    font-size: 1.7rem;
    font-family: inherit;
}
.list {
    border-bottom: 1px solid rgb(62 64 66);
    padding-bottom: 0.8rem;
}
.item  {
    display: flex;
    align-items: center;
    min-height: 4.4rem;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}

.item:hover {
    background-color:var(--dark-mode-hover);
}

.item > img {
    font-size: 1.2rem;
    font-weight: normal;
    margin-left: 2px;
    width: 3.6rem;
    height: 3.6rem;
    border-radius:50%;
}
.item > span {
    padding-left: 8px;
    color: var(--primary-text-color);
    font-size: 1.5rem;
    font-weight: 600;
    font-family: inherit;
}

/* Footer */
/* Navigation footer */
.footer {
    padding: 1.6rem;
}

.footer > a,span {
    font-size: 1.4rem;
    color:var(--secondary-text-color);
    text-decoration: none;
}

.footer > a:hover {
    text-decoration: underline;
}

.footer-more {
    cursor: pointer;
}


.footer-more--menu {
    z-index: 3;
    position: absolute;
    width:  344px;
    background-color: var(--newsfeed-pattern-color);
    border-radius: 10px;
    padding: 5px;
    margin-top:-250px;
    margin-left: -10px;
}

.footer-more-triangle {
    z-index:1;
    content: "";
    position: absolute;
    background-color: var(--newsfeed-pattern-color);
    width: 17px;    
    height: 17px;
    bottom: -8px;
    left: 74px;
    transform: rotate(45deg);
}


.footer-more--menu--item {
    height: 2rem;
    list-style: none;
    padding: 8px 12px;
    margin: 2px;
    
}

.footer-more--menu--item > a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    font-family: var(--font-family-1);
}


/* Input */
.fill {
    width: 100%;
    height: 4rem;
    padding-left: 30px;
    background: #3A3B3C;
    border: none;
    border-radius: 25px;
    font-size: 1.5rem;
    color: #8A8D91;
}
    
    
.fill:focus  {
    outline: none;
    padding-left: 15px;
}
.fill:focus ~ .search__logo {
    display: none;
}
    
.fill::placeholder {
    color: #8A8D91;
    
}
/* Navbar menu */

.detail {
    text-align: left;
    padding: 8px 0;
}

.detail > h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.detail > span {
    font-size: 1.3rem;
    font-weight: 400;
}

/* Animation */
