body {
    margin: 0;
    height: inherit;
}

.wrapper {
    display: flex;

}

/* Navigation tabs */

.item > .btn--see-more {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.6rem;
    width: 3.6rem;
    color: rgb(228 230 235);
    border-radius: 50%;
    background-color: rgb(47 48 49);
}

/* Shortcuts */
.shortcuts > .nav-item > img {
    border-radius: 1rem;
}

.shortcuts:hover .shortcuts-edit {
    visibility: visible;
}

.shortcuts-list {
    border-bottom: none;
}

.shortcuts-edit {
    visibility: hidden;
    padding: 7px;
    font-size: 1.7rem;
    text-decoration: none;
    color: #4599ff;
    border-radius: 5px;
    cursor: pointer;
}

.shortcuts-edit:hover {
    background-color: rgb(221 217 251 / 10%);
}

.shortcuts-item > img {
    border-radius: 5px;
}

/* Navigation footer */
.nav-footer {
    padding: 1.6rem;
}

.nav-footer > a,span {
    font-size: 1.4rem;
    color:var(--secondary-text-color);
    text-decoration: none;
}

.nav-footer > a:hover {
    text-decoration: underline;
}

.footer-more {
    cursor: pointer;
    position: relative;
}

.footer-more::before {
    content: "";
    position: absolute;
    background-color: rgb(28, 30, 33);
    width: 17px;
    height: 17px;
    bottom:30px;
    left:10px;
    transform: rotate(45deg);
    display: none;
}

.footer-more--menu {
    position: absolute;
    width:  344px;
    background-color: rgb(28, 30, 33);;
    bottom: 67px;
    left: 10px;
    border-radius: 10px;
    padding: 5px;
}

.footer-more--menu--item {
    height: 2rem;
    list-style: none;
    padding: 8px 12px;
    margin: 2px;
    
}

.footer-more--menu--item > a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    font-family: var(--font-family-1);
}


/* News Feed */ 
.news-feed {
    width: calc(100% - 2*var(--tabs-width));
    
}

/* sponsored */

.sponsored-item {
    position: relative;
}

.sponsored-item__options {
    position: absolute;
    right:0;
    top:5px;
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);
    padding: 1rem;
    border-radius: 50%;
}

.sponsored-item__options:hover {
    background-color: rgb(221 217 251 / 10%);
}

.sponsored-img {
    background-color: #4599ff;
    border-radius: 10px;
    width: 115.19px;
    height: 62px
}

.sponsored-item__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
}
.sponsored-item__name {
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 500;
    font-family: inherit;
    padding: 0;
}


/* Social tabs */

/* Contacts Tab */

.contacts-tools {
    display:flex;
}

.contacts-search,.contacts-room,.contacts-option {
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);
    padding: 0.8rem;
    border-radius: 50%;
    margin: 0 3px;
}
.contacts-search:hover,.contacts-room:hover,.contacts-option:hover {
    background-color: rgb(221 217 251 / 10%);
}

/* Group conversations */
.group-conversation--creating > .img {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: rgb(47 48 49);
    border-radius: 50%;
    margin-left: 3px;
}
/* New message */
.new-message {
    display: flex;
    align-items: center;
    position: fixed;
    right: 5px;
    bottom: 0;
    padding: 15px;
    border-radius: 50%;
    background-color: rgb(75 76 79);
    margin-right: 12px;
    margin-bottom: 12px;
}